body {
	  margin: 0 auto 0 auto;
	  padding-left: 18px;
	  padding-right: 18px;
	  padding-bottom: 30px;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  color: #333333;
	  background-color: #ffffff;
	  max-width: 876px;
	  font-size: 14px;
	  line-height: 1.15em;
}

a {
	  color: #3366cc;
	  text-decoration: underline;
	  cursor: pointer;
}

p {
	  clear: both;
	  line-height: 1.3em;
	  text-align: justify;
}

      img#imgcomparison {
        width: 100%;
        margin-bottom: 1.5em;
      }

      span.selected {
        background-color: blue;
        color: white;
      }

      .comparison audio {
        width: 100%;
      }

      .comparison {
        /*font-weight: bold;*/
      }
      /*ul.codecs {
        width: 40%;
        display: inline-block;
      }

      ul.bitrates {
        width: 40%;
        display: inline-block;
      }*/

      .comparison ul {
        display: inline-block;
        padding: 0px;
        margin: 0px;
      }

      .comparison li {
        display: inline-block;
        border: 3px solid;
        border-radius: 6px;
        padding: 3px;
        margin: 0px 5px;
        font-weight: bold;
        cursor: default;
      }

      .comparison button {
        margin: 0px 10px 0px 0px;
      }

      p.compare_label {
        width: 12em;
        font-weight: bold;
      }

      .codec li {
        border-color: #4c7ba2;
      }

      .codec li:hover {
        background-color: #d7edff;
      }

      .algorithm li {
        border-color: #ff9900;
      }

      .algorithm li:hover {
        background-color: #ffdda3;
      }

      .bitrate li {
        border-color: #76cfdf;
      }

      .bitrate li:hover {
        background-color: #def4f8;
      }

      .restart li {
        border-color: #000000;
      }

      .codec .selected {
        background-color: #a5d6ff;
      }

      .algorithm .selected {
        background-color: #ffcc80;
      }

      .bitrate .selected {
        background-color: #bae8f0;
      }

      .inactive li {
        background-color: #e0e0e0;
        border-color: #a0a0a0;
      }

      .inactive li.selected {
        background-color: #e0e0e0;
        border-color: #a0a0a0;
      }

      /*.restart .selected {
        background-color: #ddddee;
      }*/

				button {
					height: 80px;
					width: 80px;
				  border-radius: 50%;
					background-color: #344E5D;
					color:white;
				}
				
				button:hover {
					color: #FFD59F;
				}